{{- $related := where (where .Site.RegularPages.ByDate.Reverse "Type" "==" "posts") "Permalink" "!=" .Permalink | first 5 -}}
{{- with $related -}}
<div class="related-content">
    <h2>Related Posts</h2>
    <ul class="related-posts">
        {{- range . -}}
        <li>
            <a href="{{ .RelPermalink }}">
                <div class="related-post-title">{{ .Title }}</div>
                {{- with .Date -}}
                <div class="related-post-meta">
                    <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
                        {{ .Format "2006-01-02" }}
                    </time>
                </div>
                {{- end -}}
            </a>
        </li>
        {{- end -}}
    </ul>
</div>
{{- end -}}
